---
import type { BlogPostData } from "@type/content-collections/blog-collection-types";
import type { Lang } from "@translate/dictionary";
import TagsBadge from "@components/ui/badges/TagsBadge.astro";
import Line from "@components/ui/line/Line.astro";
import BlogPostLink from "@components/ui/links/BlogPostLink.astro";

interface Props {
  slug: string;
  data: BlogPostData;
  index: number;
  lang: string;
}

const { slug, data, index, lang } = Astro.props;
const linkColors = [
  "text-yellow",
  "text-orange",
  "text-pink",
  "text-purple",
  "text-green",
];
---

<div class="flex flex-col gap-8 my-10">
  <article class="flex flex-col gap-4">
    <BlogPostLink
      path={`/${lang}/blog/${slug.split("/")[1]}`}
      color={linkColors[index]}>{data.title}</BlogPostLink
    >
    <p>{data.description}</p>
    <ul class="flex flex-wrap gap-3">
      {data.tags.map((tag) => <TagsBadge tag={tag} />)}
    </ul>
  </article>
  <Line />
</div>
