---
import Layout from "../../layouts/Layout.astro";
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { BlogPost } from "../../lib/contentful";

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<BlogPost>({
    content_type: "blogPost",
  });
  const pages = entries.items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      content: documentToHtmlString(item.fields.content),
      date: new Date(item.fields.date).toLocaleDateString(),
      thumbnail: item.fields.thumbnail,
    },
  }));
  return pages;
}

const { title, content, date, thumbnail } = Astro.props;
---

<Layout title={title}>
  <h1>{title}</h1>
  <img
    src={"https:" + thumbnail.fields.file.url}
    alt={thumbnail.fields.title}
  />
  <time>{date}</time>
  <article set:html={content} />
</Layout>
