---
import { Image } from "@astrojs/image/components";
import aboutImage from "../assets/img-flor-about.png";
import { Icon } from "astro-icon";

const wavingHand = {
  icon: "noto:waving-hand",
  alt: "Emoji de mano saludando",
  size: 52,
};

const aboutMeDescription =
  "Una diseñadora que un día quizo aprender a programar 👩‍💻";

const teaserText =
  "Mientras lees esto, seguro estoy trabajando ☕, preparando todo para el lanzamiento del sitio 🚀";
---

<section>
  <div class="aboutme--container">
    <Image
      src={aboutImage}
      alt="Foto de Flor Luz Duarte, creadora unicornio dev"
      width="343"
      aspectRatio="1.1"
      class="aboutme--photo"
    />
    <div class="aboutme--texts">
      <h1>
        <div class="aboutme--title-wrapper">
          <span class="title-font drac-text-purple">¡Hola!</span>
          <Icon
            name={wavingHand.icon}
            alt={wavingHand.alt}
            width={wavingHand.size}
            height={wavingHand.size}
            class="aboutme--wavingemoji"
          />
        </div>
        <span class="caption-font drac-text-white"
          >Bienvenidos a unicornio.dev</span
        >
      </h1>
      <div class="aboutme--description-wrapper">
        <h2 class="drac-text drac-text-purple drac-text-lg drac-text-semibold">
          Soy Flor Luz Duarte
        </h2>
        <p class="drac-text drac-text-white">{aboutMeDescription}</p>
      </div>
      <p class="drac-text drac-text-white">{teaserText}</p>
    </div>
  </div>
</section>

<!-- Styles -->

<style>
  .aboutme--title-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
  }

  .aboutme--texts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
  }

  .aboutme--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.5rem;
  }

  @media screen and (max-width: 541px) {
    .aboutme--photo {
      width: 120px;
      height: 120px;
    }

    .aboutme--wavingemoji {
      width: 30px;
      aspect-ratio: 1.1;
    }
  }

  @media screen and (min-width: 1360px) {
    .aboutme--container {
      flex-direction: row;
      max-width: 900px;
      width: 100%;
      margin: 4rem auto;
      gap: 4rem;
    }
  }

  @media screen and (min-width: 765px) and (max-width: 1359px) {
    .aboutme--container {
      flex-direction: row;
      max-width: 700px;
      width: 100%;
      gap: 3rem;
      margin: 3rem auto;
      align-items: center;
    }

    .aboutme--photo {
      width: 250px;
      height: 250px;
    }

    .aboutme--wavingemoji {
      width: 30px;
      aspect-ratio: 1.1;
    }
  }
</style>
