---
import { Image } from "@astrojs/image/components";
import footerImage from "../assets/img-footer.png";
import { Icon } from "astro-icon";

const wavingHand = {
  icon: "noto:waving-hand",
  alt: "Emoji de mano saludando",
  size: 52,
};
---

<section>
  <div class="imagefooter--container">
    <h2 class="imagefooter--text drac-heading drac-heading-lg drac-text-white">
      ¡Nos vemos pronto! <span
        ><Icon
          name={wavingHand.icon}
          alt={wavingHand.alt}
          width={wavingHand.size}
          height={wavingHand.size}
          class="imagefooter--icon"
        />
      </span>
    </h2>
    <Image
      src={footerImage}
      alt=""
      width="496"
      height="279"
      class="imagefooter--photo"
    />
  </div>
</section>

<!-- Styles -->

<style>
  .imagefooter--text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  .imagefooter--photo {
    width: 320px;
    height: 182px;
  }

  .imagefooter--icon {
    width: 24px;
    height: 24px;
  }

  .imagefooter--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin: 4rem auto 0rem auto;
  }

  @media screen and (max-width: 281px) {
    .imagefooter--photo {
      width: 244px;
      height: 137px;
    }
  }

  @media screen and (min-width: 765px) {
    .imagefooter--photo {
      width: 496px;
      height: 279px;
    }

    .imagefooter--container {
      margin-top: 6rem;
      gap: 5rem;
    }

    .imagefooter--text {
      font-size: 36px;
      gap: 1rem;
    }

    .imagefooter--icon {
      width: 36px;
      height: 36px;
    }
  }
</style>
