---
import { Icon } from "astro-icon";
import socialmedia from "../data/socialmedia.json";
---

<section>
  <div class="socialmedia--container">
    <p class="drac-text drac-text-white">Mientras tanto...</p>
    <h2
      class="socialmedia--title drac-heading drac-heading-lg drac-text-purple"
    >
      Conectemos en las Redes
    </h2>
    <div class="socialmedia--links">
      {
        socialmedia.map((link) => (
          <div class="socialmedia--link">
            <a href={link.url} target="_blank" class="socialmedia--btn">
              <div class="socialmedia--icon-background drac-box drac-bg-yellow-pink drac-d-inline-block">
                <Icon
                  name={link.icon}
                  width={link.size}
                  heigth={link.size}
                  alt={link.alt}
                  class="drac-text-black"
                />
              </div>
              <p class="socialmedia--description drac-text drac-text-white drac-text-purple--hover">
                {link.name}
              </p>
            </a>
          </div>
        ))
      }
    </div>
  </div>
</section>

<!-- Styles -->

<style>
  .socialmedia--icon-background {
    border-radius: 50%;
    padding: 0.85rem;
    width: 52px;
    height: 52px;
  }

  .socialmedia--link {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 88px;
    height: 88px;
    justify-self: center;
  }

  .socialmedia--btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }

  .socialmedia--links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    row-gap: 1rem;
    margin: 3rem 0rem 0rem 0rem;
  }

  a {
    text-decoration: none;
  }

  .socialmedia--container {
    display: flex;
    flex-direction: column;
    margin: 3rem 1.5rem;
  }

  @media screen and (max-width: 281px) {
    .socialmedia--links {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (min-width: 765px) and (max-width: 1359px) {
    .socialmedia--links {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .socialmedia--container {
      max-width: 700px;
      margin: 3rem auto;
    }

    .socialmedia--title {
      font-size: 24px;
    }
  }

  @media screen and (min-width: 1360px) {
    .socialmedia--links {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .socialmedia--container {
      max-width: 900px;
      margin: 4rem auto;
    }

    .socialmedia--title {
      font-size: 24px;
    }
  }
</style>
