---
import { useTranslations } from "@translate/utils/i18n-utils";
import type { Lang } from "@translate/dictionary";

const lang = Astro.currentLocale as Lang;
const t = useTranslations(lang);
const pathname = new URL(Astro.request.url).pathname;
---

<ul class="flex justify-between py-4">
  <li class="font-mono text-gray-100">
    <a
      href={`/${lang}/`}
      class={pathname === `/${lang}/` ? "font-bold text-white" : "font-normal"}
    >
      {t("nav.home")}
    </a>
  </li>
  <li class="font-mono text-gray-100">
    <a
      href={`/${lang}/blog/`}
      class={pathname === `/${lang}/blog/`
        ? "font-bold text-white"
        : "font-normal"}
    >
      {t("nav.blog")}
    </a>
  </li>
  <li class="font-mono text-gray-100">
    <a
      href={`/${lang}/resources/`}
      class={pathname === `/${lang}/resources/`
        ? "font-bold text-white"
        : "font-normal"}
    >
      {t("nav.resources")}
    </a>
  </li>
  <li class="font-mono text-gray-100">
    <a
      href={`/${lang}/about/`}
      class={pathname === `/${lang}/about/`
        ? "font-bold text-white"
        : "font-normal"}
    >
      {t("nav.about")}
    </a>
  </li>
</ul>
