---
import "dracula-ui/styles/dracula-ui.css";
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  title: string;
  description?: string;
}

const {
  title = "unicornio.dev",
  description = "Un sitio web orientado a brindar acompañamiento y contenidos de valor a personas que están aprendiendo a programar.",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta name="twitter:title" content={title} />

    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta name="twitter:description" content={description} />

    <meta property="og:type" content="website" />

    <meta
      property="og:image"
      content="https://res.cloudinary.com/dfzncn1pd/image/upload/v1670853764/unicornio.dev/img-preview-meta-tags_xch6l3.png"
    />
    <meta
      name="twitter:image"
      content="https://res.cloudinary.com/dfzncn1pd/image/upload/v1670853764/unicornio.dev/img-preview-meta-tags_xch6l3.png"
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
